{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>Invoice ID {{invoice.invoice_no}}</h1>
<div class="visits-list">

    <table class="table table-hover visits-list-table" style="background-color:rgb(102,205,170);opacity:0.8;">

        <tr>
            <th scope="col">{%trans "Date"%}</th>
            <th scope="col">{%trans "Invoice ID"%}</th>
            <th scope="col">{%trans "Sum"%} $</th>
            <th scope="col">{%trans "Status"%}</th>

        </tr>

        <tr>
            <td>{{invoice.date | date:"Y-m-d"}}</td>
            <td>{{invoice.invoice_no}}</td>
            <td>{{invoice.sum}}</td>
            {%if invoice.status == 'u'%}
            <td>{%trans "Unpaid"%}</td>
            {%elif invoice.statu == 'p'%}
            <td>{%trans "Paid"%}</td>
            {%elif invoice.statu == 'c'%}
            <td>{%trans "Canceled"%}</td>

            {%endif%}
        </tr>

    </table>

    <table class="table table-hover visits-list-table" style="background-color:rgb(192,192,192);opacity:0.8;">
        <tr>
            <th scope="col">{%trans "Service"%}</th>
            <th scope="col">{%trans "Sum"%} $</th>
        </tr>
        {%for line in invoice_lines%}
        <tr>
            <td>{{line.service_ID.title}}</td>
            <td>{{line.sum}}</td>
        </tr>
        {%endfor%}
    </table>


</div>
{% endblock %}

